body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.orange-highlight {
    color: orange;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    height: 100%;
    width: 100%;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section {
    height: 500px;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    margin: 2%;
    padding: 2%;
    border-radius: 2cm;
}

.h1 {
    font-size: 50px;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 50px;
}

.dream-area {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.shadow-area {
    box-shadow: 10px 10px 50px gray;
    height: 70%;
    border-radius: 2%;
}

.experience-area {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#fancy-line {
    border-left: 10px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}

#fancy-line2 {
    border-left: 10px solid;
    border-image: linear-gradient(lightsalmon, blue);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}

.projects {
    height: 30%;
    width: 30%;
    float: left;
    margin-left: 2%;
    padding-left: 2px;
    box-shadow: 10px 10px 50px gray;
    border-radius: 4%;
}

.single-div::after {
    width: 100%;
    content: "";
    clear: both;
}

.text {
    color: brown;
    text-align: center;
}

.first {
    position: relative;
}

.first img {
    height: 300px;
    width: 900px;
    margin-left: 250px;
}

.second {
    display: flex;
    position: absolute;
    bottom: 100px;
}

#work {
    margin-left: 290px;
    margin-top: 5px;
}

#chat {
    margin-left: 300px;
    margin-top: 70px;
}

#inquiry {
    font-size: 30px;
    color: white;
    font-weight: 20px;
}

#chat-button {
    border-radius: 10px;
    background-color: yellow;
    margin-bottom: 0px;
    width: 4cm;
    height: 60px;
}

.last-container {
    text-align: center;
}

.icon {
    float: left;
    margin-left: 610px;
}

.icon img {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.e-mail {
    margin-right: 100px;
}